.agendamentos {
  background: linear-gradient(180deg,hsla(0,5%,50%,.1),#fff);
}

.lista-agendamentos {
  list-style: none;
  display: flex;
  flex-grow: 2;
  justify-content: center;      /* antes estava flex-start*/
  align-items: flex-start;
  flex-wrap: wrap;
  width: 70%;
  z-index: 1;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-right: 20px;
}

.lista-agendamentos_item {
  display: block;
  margin-right: 50px;
}

.btn-close {
  font-weight: bold;
  background-color: black;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.btn-close:hover{
  background-color: rgb(192, 33, 33);
  color: #000;
}